title: write docker actions
tagline: A brand new course on Learning Lab
description: Learn to write Docker container based GitHub Actions
template:
  repo: write-docker-actions-template
  name: write-docker-actions
before:
  - type: createIssue
    title: Welcome!
    body: new-issue.md
steps:
  - title: First step
    description: The first step in your course
    event: issues.assigned
    link: '{{ repoUrl }}'
    actions:
      - type: closeIssue
